{% extends "main/base.html" %}
{% block content %}
    {% for post in posts %}

        {% if user.username == post.author.username %}

            <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="/profile/">{{ post.author }}</a>
                    <small class="text-muted">{{ post.date_posted|date:"F d, Y, H:i:s" }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
            </article>
        {% endif %}
    {% endfor %}
{% endblock content %}